export MODS="Base MySQL Nextcloud Dolibarr TetrasBack"
# Valid levels are security and upgrade
export MAINTENANCE_LEVEL="security"
export DOMAIN="dev.tetras-libre.fr"
export SERVER_ADMIN="admin@dev.tetras-libre.fr"
# can be set to nginx
export WEB_SERVER=apache2
# You can define here some services that are badly detected by checkrestart
# but often need to be restarted after upgrade
export EXTRAS_SERVICES_TO_RESTART="systemd-logind"
