export MODS="Base MySQL Nextcloud Dolibarr TetrasBack"
# Valid levels are security and upgrade
export MAINTENANCE_LEVEL="security"
export DOMAIN="dev.tetras-libre.fr"
export SERVER_ADMIN="admin@dev.tetras-libre.fr"
# can be set to nginx
export WEB_SERVER=apache2
