export DOMAIN="dev.tetras-libre.fr"
export SERVER_ADMIN="admin@dev.tetras-libre.fr"
export WEB_SERVER=apache2
export WEB_SERVER_PACKAGES="apache2 libapache2-mod-php5"
# If you'd rather use nginx, uncomment the following lines
# export WEB_SERVER=nginx
# export WEB_SERVER_PACKAGES="nginx-extras php5-fpm"
